<!-- jumbotron -->
<div class="row">
  <div class="col-xs-12">
    <div class="jumbotron">
      <div class="col-md-1">.col-md-1</div><div class="col-md-1">.col-md-1</div><div class="col-md-1">.col-md-1</div><div class="col-md-1">.col-md-1</div><div class="col-md-1">.col-md-1</div>
    </div>
  </div>
</div>

<!-- body row -->
<div class="row">
  <div class="col-xs-3">
    <div class="panel panel-default">
      <div class="panel-body">
        <p>stats</p>  
      </div>
    </div>
  </div>
  
  <div class="col-xs-6">
    <div class="panel panel-default">
      <div class="panel-body">
        <p>matches</p>  
      </div>
    </div>
  </div>
  
  <div class="col-xs-3">
    <div class="panel panel-default">
      <div class="panel-body">
        <p>schedule</p>  
      </div>
    </div>
  </div>
</div>