/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 */
@import "bootstrap-sprockets";
@import "bootstrap";

// makes drop down menus open on hover
.dropdown:hover .dropdown-menu {
display: block;
}
.dropdown-menu {
	min-width: 300px;
}
.dropdown-menu.columns-2 {
	min-width: 600px;
	padding: 10px;
}
.dropdown-menu.columns-3 {
	min-width: 600px;
}
.dropdown-menu li a {
	padding: 5px 5px;
	font-weight: 300;
}
.multi-column-dropdown {
	list-style: none;
}
.multi-column-dropdown li a {
	display: block;
	clear: both;
	line-height: 1.428571429;
	color: #333;
	white-space: normal;
}
.multi-column-dropdown li a:hover {
	text-decoration: none;
	color: #262626;
	background-color: #f5f5f5;
}

//makes team cells on nav bar highlight when hovered
tr.dropdown-cell td {
	width: 400px;
	padding: 5px 5px 5px;
}

tr.dropdown-cell:hover td{
  background-color: #f5f5f5;	
  
}
//end team cell hover
 
nav {
    min-width: 800px;
    max-height: 30px;
}
 
@media (max-width: 767px) {
	.dropdown-menu.multi-column {
		min-width: 240px !important;
		overflow-x: hidden;
	}
}

aside {
   width: 100%;
}

.panel-default {
   clear: both;
}

.panel, .panel-body {
    overflow: auto;
}

//banner css
.jumbotronTeam {
	display: block;
    margin-bottom: 70px;
    background-color: white;
    background-position: 0% 25%;
    background-size: cover;
    background-repeat: no-repeat;
    color: black;
    font-size: 50pt;
	max-height: 220px;
	border-bottom: 2px solid gray;
}

div .jumboBanner {
	text-align: center;

}

div .jumboLogo {
	display:inline-block;
}
//end banner css
//CSS for roster card
#rosterImage{
	border: 1px solid gray;
    width:150px;
    height:150px;
    -webkit-transition:all 0.5s linear;
    transition:all 0.5s linear;
}
#imgDefault{
	width:150px;
    height:150px;
}
ul{
    list-style-type:none;
    margin:0;
    padding:0;
}
li{
    list-style-type:none;
    float:left;
}
.img-container img {
    width:100px;
    height:100px;
    
}

.img-container a {
    width:100px;
    height:100px;
}

td .img-container {
		width:120px;
		margin-right:15px;
}

.rosterCard {
	background-color: #4d4d4d;
	color: #ffffff;
}

table .rostercard {
	border: 10px;
}

tr td .img-container {
		

	

}

.rosterText {
	text-indent: 30px;
	color: #ffffff;
	width: 600px;
	
	a {
	color: #ffffff;

	}
	a:link {
	color: #ffffff;
	}
}
//End CSS for roster card