<!--Base bootstrap navbar code-->

<nav class="navbar navbar-default">
  <div>
      <a class="navbar-brand" href="/home">LoLCenter</a>


    <!-- Collect the nav links, forms, and other content for toggling -->
    <!--Dropdown for NA LCS-->
    <div class="navbar-header pull-left">
      <ul class="nav navbar-nav">
        <li class="active"><a href="/home/">Home <span class="sr-only">(current)</span></a></li>
        <% @allLeagues.each do |league| %>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><%= league.first.region %> <span class="caret"></span></a>
          <ul class="dropdown-menu multi-column columns-2">
            <div class="row">
              <!--Generate each team + icon in dropdown -->
              <% @columnNum = 1 %>
              <% league.each do |team| %>
                  <% if @columnNum == 1 or @columnNum == 6 %>
                    <div class="col-sm-6">
      		            <ul class="multi-column-dropdown">
  	              <% end %>
  	              <a href="/teams/<%= team.name.gsub(" ", "%20") %>">
  	                <table>
                      <tr class="dropdown-cell">
                        <td>
                          <li><%= image_tag("/team_icons/#{league.first.region.tr(" ", "_")}/#{team.name.tr(" ", "_").downcase}_logo.png", height: '50px', :style => 'margin-right: 30px') %><%= team.name %></li>
                        </td>
                      </tr>
                    </table>
                  </a>
                  <% if @columnNum == 5 or @columnNum == 10 %>
    		            </ul>
  	              </div>
	                <% end %>
                <% @columnNum += 1 %>  
              <% end %>
              </div>
            </ul>
          </li>
        <% end %>
      </ul>
    </div>
      
      <form class="navbar-form" role="search" style="float:right">
        <div class="form-group">
          <input type="text" class="form-control" placeholder="Search">
        </div>
        <button type="submit" class="btn btn-default">Submit</button>
      </form>
    </div>
  </div><!-- /.container-fluid -->
</nav>